* {
        margin: 50px;
        font-family: 'samsungOneKorean 400';
        font-weight: bolder;
        font-size: 20px;
        color: darkolivegreen;
        background-color: rgb(236, 218, 193);
}