
      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
      }

      #side-bar {
        background-color: rgb(23, 23, 23);
        width: 360px;
      }

      #logo > img {
        width: 120px;
        position: relative;
        top : 10px;
        left: 10px;
      }

      #menu {
        position: relative;
        display: flex;
        flex-direction: column;
        left: -30px;
        top: 100px;
      }

      .menu-inner {
        color: white;
        font-family: 'Samsung Sharp Sans';
        font-size: 16px;
        margin: 5px 0;
        text-align: right;
      }

      .header {
        font-family: 'Samsung Sharp Sans';
        font-size: 80px;
        position: absolute;
        text-align: left;
        top: 400px;
        left: 160px;
        color: white;
      }

      .text {
        font-family: 'samsungOneKorean 400';
        font-weight: bolder;
        position: absolute;
        text-align: left;
        color: white;
      }

      #text1 {
        top: 640px;
        left: 240px;
      }

      #text2 {
        top: 540px;
        left: 240px;
      }
      
      #text3 {
        top: 540px;
        left: 240px;
      }

      .swiper-slide:nth-child(1) {
        background-image: url(../img/background1.jpg);
        background-position: center;
        background-repeat: no-repeat;
      }

      p {
        margin: 4px;
      }

      .swiper-slide:nth-child(2) {
        background-image: url(../img/background2.jpg);
        background-position: center;
        background-repeat: no-repeat;
      }

      .swiper-slide:nth-child(3) {
        background-image: url(../img/background3.jpg);
        background-position: center;
        background-repeat: no-repeat;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }