#top-container {
  position: relative;
  top: 10px;
}

.swiper {
  width: 95%;
}

:root {
  --swiper-navigation-size: 68px !important;
}

.swiper-button-next {
  background-image: url(../img/sec/swiper-arrow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../img/sec/swiper-arrow.png);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.slide-z-up {
  position: absolute;
  z-index: 1;
  left: 90px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper h2 {
  position: absolute;
  font-size: 48px;
  text-align: left;
  font-family: "Sharp-bold";
}

.swiper .slide-contents {
  position: absolute;
  text-align: left;
  font-family: "samsungOne-400";
}

#slide1-head {
  top: 250px;
}

#slide1-content {
  top: 330px;
}

#slide1-date {
  top: 210px;
  font-family: "Sharp-bold";
}

.slide-under-btn {
  font-size: 14px;
  border-bottom: 3px black solid;
  padding: 1px;
}

.slide-common-btn {
  font-size: 14px;
  padding: 10px 22px 12px 22px;
  border-radius: 20px;
  color: white;
  background-color: black;
}

#slide1-btn1 {
  top: 80px;
  left: 0px;
}

#slide1-btn2 {
  top: 72px;
  left: 120px;
}

#slide2-head {
  top: 160px;
  line-height: 120%;
}

#slide2-content {
  top: 295px;
}

.center-line-deco {
  text-decoration: line-through;
}

#slide2-btn {
  top: 170px;
  left: 0;
}

#slide3-date {
  top: 150px;
}

#slide3-head {
  top: 200px;
}

#slide3-content {
  top: 340px;
}

#slide3-btn {
  top: 100px;
  left: 0;
}

#slide4-head {
  top: 160px;
}

#slide4-btn {
  top: 60px;
  left: 0;
}

#slide5-head {
  top: 180px;
}

#slide5-content {
  top: 320px;
}

#slide5-btn1 {
  top: 90px;
  left: 0;
}

#slide5-btn2 {
  top: 80px;
  left: 90px;
}

#slide6-head {
  top: 220px;
  color: white;
}

#slide6-btn1 {
  top: 60px;
  left: 0;
  color: white;
  font-size: 14px;
  border-bottom-color: white;
  border-bottom-style: solid;
  padding: 1px;
}

#slide6-btn2 {
  top: 50px;
  left: 90px;
  color: black;
  font-size: 14px;
  padding: 10px 22px 12px 22px;
  border-radius: 20px;
  background-color: white;
}

/* Custom Bullets */

.bullet-background {
  background-color: rgb(104, 104, 104);
  height: 3px;
  width: 160px;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 10px 30px 10px;
  opacity: 0.4;
}

.bullet-inner {
  background-color: rgb(0, 0, 0);
  width: 1%;
  height: 3px;
  border-radius: 2px;
}

.bullet-label {
  position: relative;
  top: -22px;
  text-align: center;
  display: none;
}

#swiper-play-and-pause {
  cursor: pointer;
  bottom: 32px;
  right: 170px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/sec/play.png);
  background-size: 25px;
  position: absolute;
  z-index: 3;
}

#top-bullet-container {
  width: 100%;
  bottom: 15px;
  display: flex;
  float: left;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
